<app-navbar></app-navbar>

<div class="container">
  <div class="text">Accounts for {{this.user.firstname}} </div>
  <ul class = "accounts">
    <li *ngFor="let el of account">
      <button  class="btn btn-block" (click)="onSelect(el.id)" routerLink="/accountdetail">
        <span class="col">{{el.id}}</span>
        <span class="col">{{el.account_type}}</span>
        <span class="col">$ {{el.balance}}</span>
      </button>
    </li>
  </ul>
  </div>
 <!-- <tr mdbTableCol *ngFor="let el of account" >
        <th>{{el.id}}</th>
        <td>{{el.account_type}}</td>
        <td>$ {{el.balance}}</td>

      </tr> -->