<app-navbar></app-navbar>
<h1>User Profile</h1>

<table id="userTable" class="table table-striped" cellspacing="0" width="100%">
		<tr>
			<td>User Name</td>
            <td>{{user.username}}</td>
        </tr>
		<tr>	
            <td>First Name</td>
            <td>{{user.firstname}}</td>
        </tr>
        <tr>
			<td>Last Name</td>
            <td>{{user.lastname}}</td>
        </tr>
        <tr>
			<td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
			<td>Phone</td>
            <td>123-456-7890</td>
        </tr>
        <tr>
			<td>Address</td>
            <td>{{user.address}}</td>
		</tr>
</table>   

