<app-navbar></app-navbar>
<h1>User Profile</h1>

<table id="userTable" class="table table-striped" cellspacing="0" width="100%">
		<tr>
			<td>User Name</td>
            <td>{{user.username}}</td>
        </tr>
		<tr>	
            <td>First Name</td>
            <td><input  class="form-control form-control-sm" [(ngModel)]="user.firstname" /></td>
        </tr>
        <tr>
			<td>Last Name</td>
            <td><input  class="form-control form-control-sm" [(ngModel)]="user.lastname" /></td>
        </tr>
        <tr>
			<td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
			<td>Phone</td>
            <td><input  class="form-control form-control-sm" [(ngModel)]="user.phonenumber" /></td> 
        </tr>
        <tr>
			<td>Address</td>
            <td><input  class="form-control form-control-sm" [(ngModel)]="user.address" /></td>
		</tr>
        <button class="btn btn-outline-dark btn-lg px-5" type="submit"(click) = "update()">Save Changes</button>
</table>   

