<app-navbar></app-navbar>
<h1>User Profile</h1>

<table id="userTable" class="table table-striped" cellspacing="0" width="100%">
		<tr>
			<td>User Name</td>
            <td>scott_t</td>
        </tr>
		<tr>	
            <td>First Name</td>
            <td>Scott</td>
        </tr>
        <tr>
			<td>Last Name</td>
            <td>Mercer</td>
        </tr>
        <tr>
			<td>Email</td>
            <td>Stim@revature.net</td>
        </tr>
        <tr>
			<td>Phone</td>
            <td>123-456-7890</td>
        </tr>
        <tr>
			<td>Address</td>
            <td>120 Groove st, apt 4E, Stamford,CT </td>
		</tr>
</table>   

