<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <img src="../../../favicon.ico" height="30"/>
                    
                    <a class = "navbar-brand" routerLink=""> &emsp; Minibank</a>      
                </li>
                <!-- <li class="navbar-item">
                    <a class="nav-link" routerLink="user-profile">{{firstname}} {{lastname}}</a> 
                </li> -->
                <li class="navbar-item">
                    <a class="nav-link" routerLink="/account">My Accounts</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="/transfer">Make Transfer</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="/open-new-account">Open New Account</a>
                </li>

            </ul>
    </div>
</nav> 